body{
    background: url('../img/fon2.jpg');
    background-size: 100% ;
}

.new_field {
    position: absolute;
    top: 10px;
    background-color: rgba(211,211,211, 1) ;
    border-radius: 8px;
    box-shadow: 10px 5px 8px rgba(0,0,0,0.5);
}
.new_rainbow {
    position: absolute;
    left: 1230px;
    top: 10px;
    height: 600px;
    width: 120px;
    background-color: rgba(211,211,211, 1) ;
}

.map{
    position: absolute;
    left: 1020px;
    top: 10px;
    height: 200px;
    width: 200px;
    background-color: rgba(230,230,250, 1) ;
}
.wr {
    position: absolute;
    background: rgba(98,135,167, .5);
    width: 100%;
    height: 100%;
    margin: auto;
    display: none;
    z-index: 1;

}
.mess{
    position: absolute;
    background: #8fbc8f;
    color: #00008b;
    height: 350px;
    width: 400px;
    top: 150px;
    left: 450px;
    opacity: 1;
    text-align: center;
    font-size: 24px;
    display: none;
    z-index: 2;
}
.result{
    height: 350px;
    width: 400px;
}
#timer{
    position: absolute;
    left: 1020px;
    top: 230px;
}

#res2{
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}
#res3, #res4, #res5{
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px 90px;

}
#a3, #a4{
    border-style: outset;
}
#p3,#p4, #a5{
    border-style: outset;
    color: #00008b;
    background: #ffe4c4;
    z-index: 3;
    height: 50px;
    width: 150px;
    position: absolute;
    display: none;
    opacity: 1;
    text-align: center;
    font-size: 18px;
}



.carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -640px;
    width: 1200px;
    padding: 10px 40px;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: #eee;
    opacity: 0.9;
}
.carousel img {
    width: 400px;
    height: 400px;
    display: block; /* если не поставить block, в ряде браузеров будет inline -> лишнее пространтсво вокруг элементов */
    opacity: 1;
}
.carousel .arrow {
    position: absolute;
    top: 17px;
    height: 380px;
    padding: 3px 8px 8px 9px;
    background: #ddd;
    border-radius: 15px;
    font-size: 48px;
    color: #444;
    text-decoration: none;
}
span{
    color: #0196e3;
    position:absolute;
    left:10px;
    top: 0;
    font-size: 22px;
    font-weight: bold;
    font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
   }
.difficult{
    position:absolute;
    margin-left: -50px;
    left: 50%;
    top: 370px;
    width: 96px;
    height: 32px;
    z-index: 1;
}
.text{
    display: table-cell;
    vertical-align: middle;
    height: 380px;
}

.carousel .arrow:hover {
    background: #ccc;
}
.carousel .left-arrow {
    left: 7px;
}
.carousel .right-arrow {
    right: 7px;
}
.galery {
    width: 1200px;
    overflow: hidden;
}
.galery ul {
    height: 350px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.galery ul li {
    float: left;
}
.cell {
    color:#fff;
    line-height: 32px;
    border: 1px solid #054baa;
    text-align: center;

    border-radius:16px;
    opacity: 0.5;
    background:transparent;
    background-image: -webkit-linear-gradient(#0245ad, #01dafb);
    background-image: -moz-linear-gradient(#0245ad, #01dafb);
    background-image: -o-linear-gradient(#0245ad, #01dafb);
    -moz-box-shadow: inset 0px -2px 0 #01fff9;
    -webkit-box-shadow: inset 0px -2px 0 #01fff9;
    -o-box-shadow: inset 0px -2px 0 #01fff9;
    box-shadow: inset 0px -1px 2px #01fff9;
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding: 0px;
}
.inox {
    color:#fff;
    line-height: 48px;
    border: 0px;
    text-align: center;

    border-radius:24px;
    background:transparent;
    background-image:-moz-radial-gradient(center bottom, circle cover, rgba(16, 236, 236, 1) 20%, rgba(0, 44, 228, 1) 80%);
    background-image:-webkit-radial-gradient(center bottom, circle cover, rgba(16, 236, 236, 1) 20%, rgba(0, 44, 228, 1) 80%);
    background-image:-o-radial-gradient(center bottom, circle cover, rgba(16, 236, 236, 1) 20%, rgba(0, 44, 228, 1) 80%);
    display: block;
    padding: 0px;
    text-decoration: none;
}

.glass {
    text-decoration: none;
    padding:5px;
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);
    border-radius: 8px;
    opacity:0.7;

    box-shadow:
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
    -webkit-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
}


.switcher {
    width: 124px;
    height: 49px;
    cursor: pointer;
    position: absolute;
    left: 1020px;
    top: 310px;

}

.switcher * {
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
}

.switcher .sw_btn {
    background: url('../img/btn.png') 0% 0% no-repeat;
    width: 49px;
    height: 49px;
    display: block;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.switcher .bg { background: url('../img/bg-on.png') 0% 0% no-repeat; }
.switcher input.switcher-value:checked ~ .sw_btn { margin-left: 68px; }
.switcher input.switcher-value:checked ~ .sw_btn ~ .bg { background: url('../img/bg-off.png') 0% 0% no-repeat; }
.switcher input.switcher-value { display: none; }
.switcher .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.css_btn_class {
    position: absolute;
    font-size:16px;
    font-family:Arial;
    font-weight:bold;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #74b807;
    padding:9px 18px;
    text-decoration:none;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(72%, #89c403), color-stop(33%, #77a809) );
    background:-moz-linear-gradient( center top, #89c403 72%, #77a809 33% );
    background:-ms-linear-gradient( top, #89c403 72%, #77a809 33% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
    background-color:#89c403;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px -2px 0px #528009;
    -webkit-box-shadow: 4px 4px 3px 0px #a4e271;
    -moz-box-shadow: 4px 4px 3px 0px #a4e271;
    box-shadow: 4px 4px 3px 0px #a4e271;
}
.css_btn_class:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(72%, #77a809), color-stop(33%, #89c403) );
     background:-moz-linear-gradient( center top, #77a809 72%, #89c403 33% );
     background:-ms-linear-gradient( top, #77a809 72%, #89c403 33% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
     background-color:#77a809;
 }
.css_btn_class:active {
      position:relative;
      top:1px;
  }

.timer{
    width: 163px;
    height: 40px;
    font-size:18px;
    font-family:Arial;
    font-weight:bold;
    text-align: center;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    padding:9px 18px;
    text-decoration:none;
    border:1px solid #99958c;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(72%, #c0c0c0), color-stop(33%, #808080) );
    background:-moz-linear-gradient( center top, #c0c0c0 72%, #808080 33% );
    background:-ms-linear-gradient( top, #c0c0c0 72%, #808080 33% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
    background-color:#c0c0c0;
    -webkit-box-shadow: 1px 1px 1px 0px #e6e6fa;
    -moz-box-shadow: 1px 1px 1px 0px #e6e6fa;
    box-shadow: 1px 1px 1px 0px #e6e6fa;
    color: #464451;
}

.onoffswitch {
    position: relative; width: 84px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #807D7D; border-radius: 8px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "  ВКЛ";
    padding-left: 10px;
    background-color: #81CF04; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "ВЫКЛ";
    padding-right: 10px;
    background-color: #81CF04; color: #ED1313;
    text-align: right;
}
.onoffswitch-switch {
    width: 15px; margin: 7.5px;
    background: #FAFA50;
    border: 2px solid #807D7D; border-radius: 8px;
    position: absolute; top: 0; bottom: 0; right: 50px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/*.my_counter_left {
    margin-right: 2px;
}
.my_counter_right {
    margin-left: 2px;
}*/
