#id1,#id2 {
    position: absolute;
    height: 50px;
    width: 60px;
    background-color: blue;
}
.field_small {
    position: absolute;
    height: 280px;
    width: 280px;
}
.new_field {
    position: absolute;

}
.rainbow {
    position: absolute;
    left: 400px;
    top: 20px;
    height: 400px;
    width: 60px;
}
.map{
    position: absolute;
    left: 800px;
    top: 20px;
    height: 120px;
    width: 120px;
}
.wr {
    position: absolute;
    background: rgba(98,135,167, .5);
    width: 100%;
    height: 100%;
    margin: auto;
    display: none;
    z-index: 1;

}
.mess{
    position: absolute;
    background: #8fbc8f;
    color: #00008b;
    height: 350px;
    width: 400px;
    top: 150px;
    left: 450px;
    opacity: 1;
    text-align: center;
    font-size: 24px;
    display: none;
    z-index: 2;
}
.result{
    height: 350px;
    width: 400px;
}
#timer{
    position: absolute;
    left: 800px;
    top: 180px;
}

#res2{
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}
#res3, #res4, #res5{
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px 90px;

}
#p3{
    border-style: outset;

    color: #00008b;
    background: #ffe4c4;
    z-index: 3;
    height: 50px;
    width: 150px;
    position: absolute;
    left: 125px;
    top: 250px;
    display: none;
    opacity: 1;
    text-align: center;
    font-size: 18px;
}



.carousel {
    position: relative;
    width: 398px;
    padding: 10px 40px;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: #eee;
}
.carousel img {
    width: 130px;
    height: 130px;
    display: block; /* если не поставить block, в ряде браузеров будет inline -> лишнее пространтсво вокруг элементов */
}
.carousel .arrow {
    position: absolute;
    top: 57px;
    padding: 3px 8px 8px 9px;
    background: #ddd;
    border-radius: 15px;
    font-size: 24px;
    color: #444;
    text-decoration: none;
}

.carousel .arrow:hover {
    background: #ccc;
}
.carousel .left-arrow {
    left: 7px;
}
.carousel .right-arrow {
    right: 7px;
}
.galery {
    width: 390px;
    overflow: hidden;
}
.galery ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.galery ul li {
    float: left;
}
