#id1,#id2,#id3 {
    position: absolute;
    height: 50px;
    width: 60px;
    background-color: blue;
}
.new_field {
    position: absolute;
    top: 10px;
    background-color: rgba(211,211,211, .5) ;
    border-radius: 8px;
    box-shadow: inset 0 -15px 30px rgba(0,0,0,0.3);
}
.new_rainbow {
    position: absolute;
    left: 1230px;
    top: 10px;
    height: 600px;
    width: 120px;
}

.map{
    position: absolute;
    left: 1020px;
    top: 10px;
    height: 200px;
    width: 200px;
}
.wr {
    position: absolute;
    background: rgba(98,135,167, .5);
    width: 100%;
    height: 100%;
    margin: auto;
    display: none;
    z-index: 1;

}
.mess{
    position: absolute;
    background: #8fbc8f;
    color: #00008b;
    height: 350px;
    width: 400px;
    top: 150px;
    left: 450px;
    opacity: 1;
    text-align: center;
    font-size: 24px;
    display: none;
    z-index: 2;
}
.result{
    height: 350px;
    width: 400px;
}
#timer{
    position: absolute;
    left: 1020px;
    top: 230px;
}

#res2{
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}
#res3, #res4, #res5{
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px 90px;

}
#a3, #a4{
    border-style: outset;
}
#p3, #a5{
    border-style: outset;
    color: #00008b;
    background: #ffe4c4;
    z-index: 3;
    height: 50px;
    width: 150px;
    position: absolute;
    display: none;
    opacity: 1;
    text-align: center;
    font-size: 18px;
}



.carousel {
    position: relative;
    width: 398px;
    padding: 10px 40px;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: #eee;
}
.carousel img {
    width: 130px;
    height: 130px;
    display: block; /* если не поставить block, в ряде браузеров будет inline -> лишнее пространтсво вокруг элементов */
}
.carousel .arrow {
    position: absolute;
    top: 57px;
    padding: 3px 8px 8px 9px;
    background: #ddd;
    border-radius: 15px;
    font-size: 24px;
    color: #444;
    text-decoration: none;
}

.carousel .arrow:hover {
    background: #ccc;
}
.carousel .left-arrow {
    left: 7px;
}
.carousel .right-arrow {
    right: 7px;
}
.galery {
    width: 390px;
    overflow: hidden;
}
.galery ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.galery ul li {
    float: left;
}
.cell {
    color:#fff;
    line-height: 32px;
    border: 1px solid #054baa;
    text-align: center;

    border-radius:16px;
    opacity: 0.5;
    background:transparent;
    background-image: -webkit-linear-gradient(#0245ad, #01dafb);
    background-image: -moz-linear-gradient(#0245ad, #01dafb);
    background-image: -o-linear-gradient(#0245ad, #01dafb);
    -moz-box-shadow: inset 0px -2px 0 #01fff9;
    -webkit-box-shadow: inset 0px -2px 0 #01fff9;
    -o-box-shadow: inset 0px -2px 0 #01fff9;
    box-shadow: inset 0px -1px 2px #01fff9;
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding: 0px;
}
.inox {
    color:#fff;
    line-height: 48px;
    border: 0px;
    text-align: center;

    border-radius:24px;
    background:transparent;
    background-image:-moz-radial-gradient(center bottom, circle cover, rgba(16, 236, 236, 1) 20%, rgba(0, 44, 228, 1) 80%);
    background-image:-webkit-radial-gradient(center bottom, circle cover, rgba(16, 236, 236, 1) 20%, rgba(0, 44, 228, 1) 80%);
    background-image:-o-radial-gradient(center bottom, circle cover, rgba(16, 236, 236, 1) 20%, rgba(0, 44, 228, 1) 80%);
    display: block;
    padding: 0px;
    text-decoration: none;
}

.glass {
    text-decoration: none;
    padding:5px;
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);
    border-radius: 8px;
    opacity:0.7;

    box-shadow:
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
    -webkit-box-shadow:
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
}



